* {
    box-sizing: border-box;
    margin: 0;
}

.opening-window-home {
    height: 100vh;
    width: 40vw;
    margin: auto;
    background-color:hsl(220, 43%, 97%);
    overflow: hidden;
    text-align: center;
}

.opening-window {
    height: 100%;
    width: 40vw;
    margin: auto;
    background-color:hsl(220, 43%, 97%);
    text-align: center;
}

.top-right {
    height:20%;
    width:20%;
    margin-left:90%;
    background: #FFFAD1;
    transform: rotate(60deg);
}

.top-right-quiz {
    height:20%;
    width:10%;;
    margin-left: 90%;
    background: #FFFAD1;
    transform: rotate(-145.49deg);
} 

.bottom-left {
    height: 20%;
    width:20%;
    background: #a8caec;
    border-radius:50%;
    margin-top: 55%;
}

.header {
    font-family: Karla;
    font-size:31.5px;
    font-weight:700;
    color:#293264;
    margin:auto;
}

.quiz-description {
    font-family: Karla;
    font-weight:400;
    font-size: 1.3em;
    color:#293264;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 10%;
}

.start-quiz {
    width:193px;
    height:52px;
    background-color:#4D5B9E;
    border-radius:15px;
    color:white;
    font-family: Karla;
    border:none;
    cursor: pointer;
}

.question-title {
    margin: auto;
    margin-top: 60px;
    font-family: Karla;
    font-size:22px;
    color:#293264;
    width:90%;
    font-style: normal;
    font-weight: 700;
}

.quiz-container {
    width: 90%;
    margin: auto;
    margin-top:20px;
}

.buts {
    margin-left: 70px;
}

.answer-button{
    margin-left:30px;
    margin-top:10px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    background-color:white;
    font-family: Karla;
}

.answer-button-selected {
    margin-left:30px;
    margin-top:10px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    background-color:turquoise;
    font-family: Karla;
}

.check-answers {
    width:193px;
    height:52px;
    background-color:#4D5B9E;
    border-radius:15px;
    color:white;
    font-family: Karla;
    margin-top:50px;
    border:none;
    margin-bottom: 50px;
}

.new-game {
    width:193px;
    height:52px;
    background-color:#4D5B9E;
    border-radius:15px;
    color:white;
    font-family: Karla;
    margin-top:50px;
    border:none;
    margin-bottom: 50px;
}

.checked-button {
    margin-left:30px;
    margin-top:10px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    font-family: Karla;
    background-color:pink;
}

.correct-button {
    margin-left:30px;
    margin-top:10px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    font-family: Karla;
    background-color:lightgreen;
}

.result {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:640px) {
    .opening-window-home {
        width: 100vw;
    }

    .bottom-left {
        margin-top: 86%;
    }

    .opening-window {
        width: fit-content;
        padding: 20px;
    }

    .question-title {
        font-size: 16px;
    }
}